<h1>Let's Make Change</h1>
<form action='/coin_combination'>
  <div class='form-group'>
    <label for='coin_combination'>What amount would you like to see in change</label>
    <input id='coin_combination' name='coin_combination' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn-success'>Change Me!</button>
</form>
